<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
         <i class="fas fa-shipping-fast" style="font-size:35px"></i>
         <strong style="font-size:25px">E-Cart</strong>&nbsp;&nbsp;
         <div class="form-group">
            <input type="text" class="form-control" placeholder="search product"/>
         </div>
         <span class="fa fa-search search-icon"></span>
        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size:30px" class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">{{totalItemNumber}}</div>
         </button>
    </div>
</header>
