<div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                    <h1>Restaurent Signup</h1>
                    <h5>Get free Membership</h5><hr/>
                    </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                          <label class="form-label">Name</label>
                          <input  formControlName="name" type="text" placeholder="EnterName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                        </div>
                        <div class="mb-3">
                          <label  class="form-label">Mobile</label>
                          <input type="number"  formControlName="mobile"  placeholder="EnterMobile" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Email Address</label>
                            <input type="email"  formControlName="email"  placeholder="EnterEmail" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password"   formControlName="password"  placeholder="EnterPassword" class="form-control" id="exampleInputPassword1">
                          </div>
                        <button type="submit" class="btn btn-primary">Signup</button>
                      </form>
                      <a routerLink="/login">Already Member?Click to login!</a>

                </div>
        </div>
    </div>
</div>

